.btn-primary {
    border-radius: 3px;
    background: #ffffff;
    border-color: #02B2E3;
    color: #02B2E3;

}

.btn-primary:hover {
    background: #02B2E3;
    border-color: #02B2E3;
}

.tmdb-advantage {
    margin-top: 50px;
}

