nav {
    font-family: Inter;
    background-color: #fff;
}

.navbar-brand {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

ul {
    font-weight: bold;
}

#addition {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.10);    
}

.wrapper {
    max-width: 1450px;
    margin: 0 auto;
    }

.lang {
    margin-left: 350px;
    position: relative;
    display: flex;
padding: 6px 12px;
align-items: flex-start;
gap: 10px;
    border-radius: 3px;
border: 1px solid #A6A6A6;
background: rgba(226, 42, 42, 0.00);
}

.name {
    color: #000;
text-align: right;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.occupation {
    color: #000;
text-align: right;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.name-occup {
    margin-left: 0px;
}

.pp {
    margin-left: 10px;
    margin-right: 10px;
}

