.search-button {
    display: inline;
    padding: 6px 6px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 3px;
    background: #E22A2A;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    border: none;
}
.search-button:hover {
    background: #f30202;
    color: #FFF;
    text-decoration: none;
}
