.image {
  background-image: url(https://generation-sessions.s3.amazonaws.com/8d4877f838f89728466510209e19b227/img/image-4@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 105px;
  width: 70px;
}
